<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
    
  {{>navbar}}

    <!-- Main Header -->
    <div class="conrainer-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- right side div -->
              <div class="col-md-6 col-12 main-header-right align-items-center">
                <figure>
                 <img src="Images/myimg.jpg" alt="MyImage" height="450px" width="350px" >
                </figure>
               </div>
              <!-- left side div -->
              <div class="col-md-6 col-12 main-header-left">
                <p>Welcome to Weather app</p>
                <h1>I am a <span class="text-clr">Backend Developer</span> and also freelancer</h1>
                <a href="/" target="_blank"><button>About Me</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
    
    <!--footer-->
    {{>footer}}

</body>
</html>